/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
*{
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	margin 0 auto;
	padding: 3% 5%;
}


hr{
	width: 100%;
}


/**navigation styling**/
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1%;
}


#nav-content{
	width: 68%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: none;
}


#nav-content a{
	color: gray;
}


.logodiv{
	display: flex;
	justify-content: flex-end;
	width: 28%;
}


/*h1 and img section2 styling */


.section2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 3%;
}


#h1andbutton{
	width:65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.section2 h1{
	text-align: center;
	font-size: 70px;
}


.section2 button{
	padding: .6% 5%;
}

#circle-image{
	max-width:100%;
	height:auto;
}



/*section 3 features and about styling*/


.section3{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3% 0;
}

#features {
	display: flex;
	flex-direction: column;
	width: 48%;
}


#about{
	display: flex;
	flex-direction: column;
	width: 48%;
}


/* section 4 image banner stylling */
.section4{
	display: flex;

}
.middle-img{
	width: 100%;
	heigh: auto;
}


/* section 5 services product and vision styling*/


.section5{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3% 0;
}




#services{
	display: flex;
	flex-direction: column;
	width: 33%;
}


#product{
	display: flex;
	flex-direction: column;
	width: 33%;
}


#vision{
	display: flex;
	flex-direction: column;
	width: 33%;
}


/* section 6 and footer contact styling */


.section6{
	margin: 2%;
}


footer{
	text-align: center;
}
