  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
	margin: 2% 0;
 }

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

/* Your code starts here! */

.container{
	margin: 3% 5%;
}

hr{
	width: 95%;
}

/**navigation styling**/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav-content{
	width: 78%;
	display: flex;
	justify-content: space-around;
}

#nav-content a{
	color: gray;
	justify-content: space-between;
	text-decoration: none;
}

header img{
	width: 20%;
}

/*h1 and img section1 styling */

.section1{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.h1andbutton{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section1 h1{
	text-align: center;
	font-size: 5rem;
}

.section1 button{
	border: 1px solid black;
	border-radius: 2%;
	padding: 1.5% 10%;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}


/*section 3 features and about styling*/

.section3{
}

h3{
}

#features {
	width: 49%;
}

#about{
	width: 49%;
}

/* section 4 image banner stylling */
.section4{
}
.middle-img{
}

/* section 5 services product and vision styling*/

.section5{

}


#services{
	width: 33%;
}

#product{
	width: 33%;
}

#vision{
	width: 33%;
}

/* section 6 and footer contact styling */



footer{
	text-align: center;
}